$color-transparent: transparent;
$color-current: currentColor;
$color-black: #000;
$color-white: #fff;
$color-primary: #fc5000;
$color-secondary: #696969;
$color-secondaryIcon1: #fd7333;
$color-secondaryIcon2: #ffd648;
$color-error: #f00;
$color-secondary4: #333;
$color-secondary5: #a1a1a1;
$color-disabled: #acadb0;
$color-secondaryLine: #ccc;
$color-bg1: #fff;
$color-bg2: #f5f7fb;
$color-bgLine: #d9d9d9;
$color-textSecondary1: #666;
$color-textSecondary2: #696969;
$color-textSecondary3: #fff;
$color-textSecondary4: #333;
$color-accentLeaf: #27b9ba;
