.confirmation-modal {
  padding: 16px !important;
  padding-bottom: 30px !important;
  width: 312px !important;

  &-title {
    font-size: 16px;
    padding: 38px 0 30px;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    padding: 37px !important;
    padding-bottom: 70px !important;
    width: 518px !important;
    &-title {
      font-size: 20px;
      padding: 45px 0 73px;
    }
  }
}