@import '../../helpers/variables';
@import '../../base/typography';

h1 {
  font-size: 2em;
  line-height: 1;
}

h2 {
  font-size: 1.5em;
  line-height: 1;
}

.distri-detail {
  // 여기 하나
  @media screen and (min-width: 1488px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  &-title-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 111.5px 57px 0 57px;
    &-left {
      width: 85%;
      .distri-title {
        word-wrap: break-word;
        word-break: break-all;
        font-size: 32px;
        font-weight: 500;
        color: #333;
      }
      > div {
        display: flex;
        align-items: center;
        margin-left: 3px;
        margin-top: 13.5px;
        > div {
          font-size: 20px;
        }
        > div:first-child {
          width: auto;
          height: 20px;
          line-height: 18px;
        }
        > div:last-child {
          margin-left: 8px;
          border-left: 1px solid #ccc;
          font-family: 'Noto Sans KR', serif;
          font-weight: 500;
          // padding-top: 2px;
          width: 112px;
          text-align: right;
          height: 20px;
          line-height: 18px;
        }
      }
    }

    &-right {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 78px;
      margin-top: 9px;
      .edit-delete-buttons {
        display: flex;
        align-items: center;
        margin-right: 3px;
        button {
          font-size: 18px;
        }
        button:first-child {
          width: 46px;
          border-right: 1px solid #ccc;
          height: 13px;
          p {
            position: relative;
            top: -7px;
            color: #333;
          }
        }
        button:last-child {
          color: #333;
          padding-left: 5px;
        }
      }
      .ellipsis-options {
        display: none;
      }
      .heart-number {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 39px;
        margin-left: auto;
        margin-right: 6px;
        img {
          height: 16.6px;
          width: 18px;
        }
        p {
          font-family: 'Noto Sans KR', serif;
        }
      }
    }
  }

  .distri-detail-first-hr {
    margin: 24px 57px 51px 57px;
    color: rgba(0, 0, 0, 0.2);
  }

  &-content-area {
    margin: 0 159px 0 57px;
    .content-text {
      font-size: 20px;
      color: #333;
    }
    .content-bold {
      font-weight: 500;
      margin-bottom: 28px;
    }
    .content-nobold-mobile {
      display: none;
    }
  }

  &-route-area {
    margin-top: 180.5px;
    padding: 0 57px;
    hr {
      color: rgba(0, 0, 0, 0.2);
      //   margin: 9.5px 0;
    }
    .previous-article {
      margin-bottom: 8.5px;
    }
    .next-article {
      margin-top: 6.5px;
    }
    .move-to {
      display: flex;
      align-items: center;
      margin-left: 12px;
      img {
        width: 24px;
        height: 24px;
        margin-right: 9px;
      }
      > div {
        font-size: 18px;
        // line-height: 13px;
        // align-items: center;
        // display: flex;
        margin-right: 25px;
      }

      > div:last-child {
        font-weight: 500;
      }
    }
  }

  &-comment-area {
    background-color: #f5f7fb;
    padding: 60px 58px;
    border-radius: 20px;
    margin-top: 61px;
    hr {
      color: rgba(0, 0, 0, 0.2);
      margin-bottom: 31px;
    }
    .post-comment-area {
      display: flex;
      align-items: center;
      margin-bottom: 38.5px;
      input {
        height: 60px;
        padding: 19px 18px 23px 18px;
        border-radius: 10px;
        border: solid 1px rgba(102, 102, 102, 0.3);
        background-color: #fff;
        flex-grow: 1;
        font-size: 18px;
      }
      input:focus {
        outline: none;
      }
      button {
        width: 172px;
        height: 60px;
        margin-left: 12px;
        border-radius: 60px;
        border: solid 1px rgba(0, 0, 0, 0.5);
        font-size: 18px;
      }
    }
    .others-cmt-title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 13px;
    }
    .others-cmt {
      .other-comment:first-child {
        margin-top: 0;
      }
      .comment-selected {
        border: solid 1px #666;
      }
      .other-comment {
        display: flex;
        align-items: center;

        padding: 0 30px;
        min-height: 5rem;
        max-height: 10rem;
        border-radius: 10px;
        background-color: #fff;
        margin-top: 10px;
        width: 100%;

        .comment-name {
          font-size: 18px;
          font-weight: 500;
          margin-right: 40px;
          color: #333;
          min-width: 4rem;
        }

        .comment-content {
          display: flex;
          align-items: center;
          > div {
            font-size: 18px;
          }

          .comment-text {
            text-align: left;
            color: #696969;
            font-weight: 500;
            word-break: break-all;
          }

          .comment-time {
            opacity: 0.5;
            margin-left: 10px;
            color: #333;
            min-width: 5rem;
          }
        }

        .edit-delete-comment {
          margin-left: auto;
          display: flex;
          align-items: center;
          margin-right: 3px;
          min-width: 6rem;
          button {
            font-size: 18px;
          }
          button:first-child {
            width: 46px;
            border-right: 1px solid #ccc;
            height: 13px;
            p {
              position: relative;
              top: -7px;
              color: #333;
            }
          }
          button:last-child {
            color: #333;
            padding-left: 5px;
          }
        }
      }

      .other-comment-has-border {
        border: solid 1px #666;

        display: flex;
        align-items: center;

        padding: 0 30px;
        height: 60px;
        border-radius: 10px;
        background-color: #fff;
        margin-top: 10px;

        .comment-name {
          font-size: 18px;
          font-weight: 500;
          margin-right: 40px;
          color: #333;
          min-width: 4rem;
        }

        .comment-content {
          display: flex;
          align-items: center;
          width: 80%;
          > div {
            font-size: 18px;
          }

          .comment-text {
            text-align: left;
            color: #696969;
            font-weight: 500;
            word-break: break-all;
          }

          .comment-time {
            opacity: 0.5;
            margin-left: 10px;
            color: #333;
            min-width: 5rem;
          }
        }

        .edit-delete-comment-border {
          margin-left: auto;
          display: flex;
          align-items: center;
          margin-right: 3px;
          button {
            font-size: 18px;
          }
          button:first-child {
            width: 46px;
            border-right: 1px solid #ccc;
            height: 13px;
            p {
              position: relative;
              top: -7px;
              color: #333;
            }
          }
          button:last-child {
            color: #333;
            padding-left: 5px;
          }
        }
      }
    }
  }

  &-comment-area-mobile {
    display: none;
    background-color: #f5f7fb;
    padding: 60px 58px;
    border-radius: 20px;
    margin-top: 61px;
    hr {
      color: rgba(0, 0, 0, 0.2);
      margin-bottom: 31px;
    }
    .post-comment-area {
      display: flex;
      align-items: center;
      margin-bottom: 38.5px;
      input {
        height: 60px;
        padding: 19px 18px 23px 18px;
        border-radius: 10px;
        border: solid 1px rgba(102, 102, 102, 0.3);
        background-color: #fff;
        flex-grow: 1;
        font-size: 18px;
      }
      input:focus {
        outline: none;
      }
      button {
        width: 172px;
        height: 60px;
        margin-left: 12px;
        border-radius: 60px;
        border: solid 1px rgba(0, 0, 0, 0.5);
        font-size: 18px;
      }
    }
    .others-cmt-title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 13px;
    }
    .others-cmt {
      .other-comment:first-child {
        margin-top: 0;
      }
      .comment-selected {
        border: solid 1px #666;
      }
      .other-comment {
        display: flex;
        align-items: center;

        padding: 0 30px;
        min-height: 5rem;
        max-height: 10rem;
        border-radius: 10px;
        background-color: #fff;
        margin-top: 10px;
        width: 100%;

        .comment-name {
          font-size: 18px;
          font-weight: 500;
          margin-right: 40px;
          color: #333;
          min-width: 4rem;
        }

        .comment-content {
          display: flex;
          align-items: center;
          > div {
            font-size: 18px;
          }

          .comment-text {
            text-align: left;
            color: #696969;
            font-weight: 500;
            word-break: break-all;
          }

          .comment-time {
            opacity: 0.5;
            margin-left: 10px;
            color: #333;
            min-width: 5rem;
          }
        }

        .edit-delete-comment {
          margin-left: auto;
          display: flex;
          align-items: center;
          margin-right: 3px;
          min-width: 6rem;
          button {
            font-size: 18px;
          }
          button:first-child {
            width: 46px;
            border-right: 1px solid #ccc;
            height: 13px;
            p {
              position: relative;
              top: -7px;
              color: #333;
            }
          }
          button:last-child {
            color: #333;
            padding-left: 5px;
          }
        }
      }

      .other-comment-has-border {
        border: solid 1px #666;

        display: flex;
        align-items: center;

        padding: 0 30px;
        height: 60px;
        border-radius: 10px;
        background-color: #fff;
        margin-top: 10px;

        .comment-name {
          font-size: 18px;
          font-weight: 500;
          margin-right: 40px;
          color: #333;
          min-width: 4rem;
        }

        .comment-content {
          display: flex;
          align-items: center;
          width: 80%;
          > div {
            font-size: 18px;
          }

          .comment-text {
            text-align: left;
            color: #696969;
            font-weight: 500;
            word-break: break-all;
          }

          .comment-time {
            opacity: 0.5;
            margin-left: 10px;
            color: #333;
            min-width: 5rem;
          }
        }

        .edit-delete-comment-border {
          margin-left: auto;
          display: flex;
          align-items: center;
          margin-right: 3px;
          button {
            font-size: 18px;
          }
          button:first-child {
            width: 46px;
            border-right: 1px solid #ccc;
            height: 13px;
            p {
              position: relative;
              top: -7px;
              color: #333;
            }
          }
          button:last-child {
            color: #333;
            padding-left: 5px;
          }
        }
      }
    }
  }

  &-list-button-mobile {
    display: none;
  }

  &-list-button {
    text-align: center;
    margin-top: 60px;
    button {
      font-size: 20px;
      font-weight: 500;
      color: #fff;
      width: 335px;
      height: 60px;
      border-radius: 50px;
      background-color: #333;
      margin: 0 auto;
    }
  }
}

// 여기하나
@media screen and (max-width: 766px) {
  .distri-detail {
    &-title-area {
      margin: 33px 24px 0 24px;
      &-left {
        .distri-title {
          word-break: break-all;
          font-size: 20px;
        }
        > div {
          display: flex;
          align-items: center;
          margin-left: 0;
          margin-top: 5.5px;
          > div {
            font-size: 12px;
          }
          > div:first-child {
            width: auto;
            height: 12.2px;
            line-height: 12px;
          }
          > div:last-child {
            margin-left: 6px;
            border-left: 1px solid #ccc;
            font-family: 'Noto Sans KR', serif;
            font-weight: 500;
            padding-top: 0;
            width: 70px;
            text-align: right;
            height: 12.2px;
            line-height: 12px;
          }
        }
      }

      &-right {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 53px;
        margin-top: 0;
        .edit-delete-buttons {
          display: none;
        }
        .ellipsis-options {
          display: block;
          padding-top: 1.5px;
          img {
            width: 24px;
            height: 24px;
            margin-left: auto;
          }
        }
        .heart-number {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 30px;
          margin-left: auto;
          margin-right: 6px;
          img {
            height: 13px;
            width: 14px;
          }
          p {
            font-size: 12px;
            font-family: 'Noto Sans KR', serif;
            color: #333;
          }
        }
      }
    }

    .distri-detail-first-hr {
      margin: 22px 24px 26px 24px;
      color: rgba(0, 0, 0, 0.2);
    }

    &-content-area {
      margin: 0 24px;
      .content-text {
        font-size: 16px;
        color: #333;
      }
      .content-bold {
        margin-bottom: 22px;
        padding-right: 66px;
      }
      .content-nobold {
        line-height: 23px;
        display: none;
      }
      .content-nobold-mobile {
        display: block;
        line-height: 23px;
      }
    }

    &-route-area {
      margin-top: 76px;
      padding: 0 24px;
      hr {
        color: rgba(0, 0, 0, 0.2);
        //   margin: 9.5px 0;
      }
      .previous-article {
        margin-bottom: 12.5px;
      }
      .next-article {
        margin-top: 12.5px;
        > div:last-child {
          position: relative;
          top: -1px;
        }
      }
      .move-to {
        display: flex;
        align-items: center;
        margin-left: 8px;
        img {
          width: 20px;
          height: 18px;
          margin-right: 8px;
        }
        > div {
          color: #333;
          font-size: 12px;
          margin-right: 17px;
        }

        > div:last-child {
          font-weight: 500;
        }
      }
    }

    &-comment-area-mobile {
      display: block;
      padding: 40px 24px 30px 24px;
      border-radius: 0;
      margin-top: 26px;
      // margin-bottom: 92px;
      hr {
        color: rgba(0, 0, 0, 0.2);
        margin-bottom: 15px;
      }
      .texing-button-group {
        button {
          width: 47px;
          height: 25px;
          font-size: 12px;
          float: right;
          border-radius: 50px;
        }

        .register-cmt {
          border: 1px solid #fc5000;
          background-color: #fc5000;
          color: #fff;
          margin-left: 10px;
        }
        .cancel-cmt {
          border: solid 1px rgba(0, 0, 0, 0.2);
        }
      }
      .post-comment-area {
        display: flex;
        align-items: center;
        margin-bottom: 19.5px;
        .texing-input {
          width: 100%;
          padding: 14px 19px 13px;
          border-radius: 4px;
          border: solid 1px #666;
          background-color: #fff;
          hr {
            margin-bottom: 14px;
          }
          .comment-name {
            font-size: 12px;
            color: #333;
            font-weight: 500;
            margin-bottom: 9px;
          }
          textarea {
            font-size: 12px;
            width: 100%;
            color: #333;
            height: 109px;
            line-height: 17px;
          }
          textarea:focus {
            outline: none;
          }
        }
        input {
          height: 44px;
          padding: 0 10px 1px 8px;
          border-radius: 4px;
          border: solid 1px rgba(102, 102, 102, 0.3);
          background-color: #fff;
          flex-grow: 1;
          font-size: 14px;
        }
        input:focus {
          outline: none;
        }
      }
      .others-cmt-title {
        font-size: 12px;
        margin-bottom: 7px;
        font-weight: normal;
        color: #333;
      }
      .others-cmt {
        // .other-comment:last-child {
        //   margin-bottom: 0;
        // }
        .other-comment {
          display: block;
          align-items: center;

          padding: 14px 20px;
          // height: 44px;
          min-height: auto;
          max-height: max-content;
          border-radius: 4px;
          background-color: #fff;
          margin-top: 8px;
          .comment-header {
            display: flex;
            margin-bottom: 18px;
          }

          .comment-name {
            font-size: 12px;
            font-weight: 500;
            margin-right: 0;
            color: #333;
            min-width: auto;
            text-align: left;
          }

          .comment-time {
            opacity: 0.5;
            margin-left: 10px;
            color: #333;
            min-width: 3rem;
            font-size: 12px;
            text-align: left;
          }

          .comment-content {
            display: block;
            align-items: center;
            > div {
              font-size: 12px;
            }

            textarea {
              font-size: 12px;
              width: 100%;
              color: #333;
              height: 109px;
              line-height: 17px;
            }
            textarea:focus {
              outline: none;
            }

            hr {
              margin-top: 31px;
            }

            .comment-text {
              text-align: left;
              color: #333;
              font-weight: normal;
              word-break: break-all;
              line-height: 17px;
            }
          }

          .edit-delete-comment {
            display: none;
          }
        }

        .other-comment-has-border {
          border: solid 1px #666;
          display: flex;
          align-items: center;
          padding: 0 30px;
          height: 50px;
          border-radius: 10px;
          background-color: #fff;
          margin-top: 10px;

          .comment-content {
            display: flex;
            align-items: center;
            width: 75%;
          }
        }
      }
    }

    &-comment-area {
      display: none;
      padding: 40px 24px 4px 24px;
      border-radius: 0;
      margin-top: 26px;
      // margin-bottom: 92px;
      hr {
        color: rgba(0, 0, 0, 0.2);
        margin-bottom: 15px;
      }
      .post-comment-area {
        display: flex;
        align-items: center;
        margin-bottom: 19.5px;
        input {
          height: 44px;
          padding: 0 10px 1px 8px;
          border-radius: 4px;
          border: solid 1px rgba(102, 102, 102, 0.3);
          background-color: #fff;
          flex-grow: 1;
          font-size: 14px;
        }
        input:focus {
          outline: none;
        }
        button {
          display: none;
        }
      }
      .others-cmt-title {
        font-size: 12px;
        margin-bottom: 7px;
        font-weight: normal;
        color: #333;
      }
      .others-cmt {
        // .other-comment:last-child {
        //   margin-bottom: 0;
        // }
        .other-comment {
          display: flex;
          align-items: center;

          padding: 0 20px;
          height: 44px;
          border-radius: 4px;
          background-color: #fff;
          margin-top: 8px;

          .comment-name {
            font-size: 12px;
            font-weight: 500;
            margin-right: 21px;
            color: #333;
            min-width: 4rem;
          }

          .comment-content {
            display: flex;
            align-items: center;
            > div {
              font-size: 12px;
            }

            .comment-text {
              text-align: left;
              color: #333;
              font-weight: normal;
              word-break: break-all;
            }

            .comment-time {
              opacity: 0.5;
              margin-left: 10px;
              color: #333;
              min-width: 3rem;
            }
          }

          .edit-delete-comment {
            display: none;
          }
        }

        .other-comment-has-border {
          border: solid 1px #666;
          display: flex;
          align-items: center;
          padding: 0 30px;
          height: 50px;
          border-radius: 10px;
          background-color: #fff;
          margin-top: 10px;

          .comment-content {
            display: flex;
            align-items: center;
            width: 75%;
          }
        }
      }
    }

    &-list-button {
      display: none;
    }

    &-list-button-mobile {
      text-align: center;
      margin-top: 0px;
      background-color: #fff;
      height: 92px;
      display: flex;
      align-items: center;
      padding: 0 24px;
      // position: fixed;
      // bottom: 0;
      width: 100%;
      .has-comment-selected {
        display: grid;
        grid-template-columns: auto auto;
        gap: 8px;
        width: 100%;
        > button {
          height: 44px;
          border-radius: 30px;
          font-size: 16px;
          font-weight: 500;
          line-height: 1;
          letter-spacing: -0.32px;
          padding-bottom: 3px;
        }
        > button:first-child {
          border: solid 1px rgba(0, 0, 0, 0.2);
          background-color: #fff;
          color: #333;
        }
        > button:last-child {
          background-color: #333;
          color: #fff;
        }
      }
      > div {
        width: 100%;
        > a {
          > button {
            font-size: 16px;
            color: #333;
            width: 100%;
            height: 44px;
            background: none;
            border: solid 1px rgba(0, 0, 0, 0.6);
            padding-bottom: 3px;
            font-weight: 500;
            border-radius: 50px;
          }
        }
        > button {
          font-size: 16px;
          color: #333;
          width: 100%;
          height: 44px;
          background: none;
          border: solid 1px rgba(0, 0, 0, 0.6);
          padding-bottom: 3px;
          font-weight: 500;
          border-radius: 50px;
        }
      }
    }
  }
}
